<!DOCTYPE html>
{% load static %}

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>users</title>
    <link rel="stylesheet" href="{% static "css/homepage.css" %}"/>
  </head>
  <body>
    <div class="container">

      <h1>Please sign up here</h1>
      <a href="{% url 'college_management:homepage' %}" >The homepage</a>

      <form  method="POST">
        {{form.as_p }}
        {% csrf_token %}
        <input type="submit" class='btn btn-primary' value="Submit">

      </form>

    </div>



  </body>
</html>
